<div class="feature__wrapper">

  {% for post in site.posts limit: 3 %}
    <div class="feature__item{% if include.type %}--{{ include.type }}{% endif %}">
      <div class="archive__item">
        {% if post.image_path %}
          <div class="archive__item-teaser">
            <img src="{{ post.image_path | relative_url }}"
                 alt="{% if post.alt %}{{ post.alt }}{% endif %}">
            {% if post.image_caption %}
              <span class="archive__item-caption">{{ post.image_caption | markdownify | remove: "<p>" | remove: "</p>" }}</span>
            {% endif %}
          </div>
        {% endif %}

        <div class="archive__item-body">
          {% if post.title %}
            <h2 class="archive__item-title">{{ post.title }}</h2>
          {% endif %}

          <div class="archive__item-excerpt">
            {% if post.excerpt %}<p class="archive__item-excerpt" itemprop="description">{{ post.excerpt | markdownify | strip_html | truncate: 160 }}</p>{% endif %}
          </div>

          <p><a href="{{ post.url | relative_url }}" class="btn btn--primary">Mehr …</a></p>

        </div>
      </div>
    </div>
  {% endfor %}

</div>
